- let socialsList =  { 'ok' : 'https://ok.ru/group/70000000915646', 'vk' : 'https://vk.com/autoservis_slonim','instagram' : 'https://www.instagram.com/forsageslonim','tiktok' : 'https://www.tiktok.com/@forsageslonim','youtube' : 'https://www.youtube.com/@forsageslonim' }

mixin socialButtons(socials)
    each link, key in socials
        a.social__link(href=link)
            svg(class=['social__icon', 'social__icon-' + key])
                use(xlink:href="#" + key)
            |
            |
        |
        |
mixin shop(title, ...addrArray)
    div.shops__item
        h2.shops__title= title
        if addrArray
            div.shops__body
                each addr in addrArray
                    div.shops__addr
                        each line, i in addr
                            p(class=(i === 0 ? 'first-line' : '' ))= line

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Подбор шин по марке авто в Слониме ⦿ в автотехцентре "Форсаж" ✅
        meta(name="description" content="Подбор шин по марке авто в Слониме в магазине &#171;Форсаж	&#187;. ✔️Оплата частями до 36 мес., ✔️карты рассрочек, ✔️бесплатный шиномонтаж на экспресс-сервисе. +375291703535")
        link(rel="icon" href="favicons/favicon.ico" sizes="any")
        link(rel="apple-touch-icon" href="favicons/apple-touch-icon-180x180.png" sizes="180x180")
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/form.min.js" type="module")
        base(href=".")
    body
        include ./components/icons.pug  
        header.top
            div.logo.top__logo
                a.logo__link(href="http://for24.by")
                    img.logo__img(src="images/logo.svg")
            div.social
                |
                |
                +socialButtons(socialsList)
            div.top__phone
                a(href="tel:+375291703535") +375 (29) 170-35-35
            div.top__button
                a.btn.btn--transparent.top__link(href="#") На сайт магазина
        main
            section.jumbotron
                div.jumbotron__container
                    div.jumbotron__title-container
                        h1.title.jumbotron__title(data-text="Подберем шины быстро")
                            span Подберем шины быстро
                    div.jumbotron__picture
                        img(src="images/main_picture.png")
            section.content
                div.content__container
                    div.content__decriptions
                        h2.title.content__title Шины в форсаж – это:
                        ul.content__list
                            each item in ['Оплата частями до 36 месяцев', 'Оплата картами рассрочек', 'Бесплатный шиномонтаж']
                                li.content__list-item= item
                    div.content__form
                        form.form.js-form(action="/send_form.php" method="POST")
                            each value, index in {'name' : 'Имя', 'phone' : 'Телефон', 'car_model' : 'Марка авто'}
                                div.form__group 
                                    input.form__input(
                                        type='text'
                                        name=index
                                        id=index
                                        placeholder=value
                                    )
                            div.form__footer
                                button.btn.btn--yellow.form__button(
                                    type="submit" 
                                ) Подобрать шины

        footer.footer
            div.shops
                +shop(
                    'Автосервис в Слониме',
                    [
                        'Автосервис',
                        'г. Слоним, ул. Я. Купалы, 27',
                        'Пн-Пт: 9.00-18.00; Сб: 9:00-15:00',
                        'Viber, Telegram: +375(29)283-87-75'
                    ],
                    [
                        'Экспресс-сервис',
                        'г. Слоним, ул. Горького, 5',
                        'Пн-Пт: 9.00-18.00; Сб: 9:00-15:00',
                        'Viber, Telegram: +375(29)615-42-19'
                    ]
                )
                +shop(
                    'Интернет-магазин автозапчастей в Слониме',
                    [
                        'Автомагазин',
                        'г. Слоним, ул. Я. Купалы, 35',
                        'Пн-Пт: с 9:00 до 20:00, Сб: с 9:00 до 19:00, Вс: с 9:00 до 18:00'
                    ]
                )